body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  background: linear-gradient(45deg, #6078ff, #8660fe);
}

header-container {
  margin: 50;
}

img {
  margin: 20px 0;
  max-width: 200px;
}
